@font-face {
    font-family: 'robert-medium';
    src: url('../fonts/robert-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'general';
    src: url(..//fonts/general.woff2) format('woff2');
}

@font-face {
    font-family: 'robert-regular';
    src: url(../fonts/robert-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'zentry-regular';
    src: url(../fonts/zentry-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'circularweb-book';
    src: url(..//fonts/circularweb-book.woff2) format('woff2');}

body {
    font-family: 'robert-medium', 'robert-regular', 'zentry-regular', 'general', 'circularweb-book';
   
}

.title{
    font-family: 'zentry-regular';
    font-size:50px;
}


.card-content h3 {
    font-family: 'zentry-regular'; 
    font-size: 24px; 
    font-weight: normal;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.card-content p {
    font-family: 'robert-regular'; 
    font-size: 16px; 
    font-weight: normal;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    padding: 0 15px;
    margin-bottom: 15px;
}

